APP_NAME=Assistant Service
APP_HOST=0.0.0.0
APP_PORT=8001

ASSISTANT_LLM_MODEL_PATH=/models/Dolphin3.0-Llama3.1-8B-Q4_K_M.gguf
LLM_N_CTX=2048
LLM_TEMPERATURE=0.2
LLM_MAX_TOKENS=256

RAG_RETRIEVE_BY_ID_URL=http://rag_service:8000/retrieve_by_id
RAG_REQUEST_TIMEOUT=60

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_MAX_CONTEXT_ITEMS=5
